{% extends 'index.html' %}

{% load django_bootstrap5 %}


{% block page_title %}
<div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
  <h2>
    {% block bootstrap5_title %}
      Cadastrar novo bolsista
    {% endblock %}
  </h2>
  <div class="d-grid gap-2 flex-shrink-1">
    <a class="btn btn btn-outline-primary" href={% url "create_scholar" %} role="button">Criar novo bolsista</a>
  </div>
</div>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type='submit' content='Adicionar' %}
  </form>
{% endblock %}
