{% extends './index.html' %}

{% load django_bootstrap5 %}

{% block page_title %}
  <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
    <h2 class="flex-grow-1">
      {% block bootstrap5_title %}
        Registros de atividade
      {% endblock %}
    </h2>
    <div class="d-grid gap-2 flex-shrink-1">
      <a class="btn btn-primary" href="novo" role="button">Novo registro</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <form method="get" class="form card">
    <div class="card-body">
      <div class="card-title d-flex flex-row flex-wrap justify-content-between align-items-center">
        <h5 class="">Filtros</h5>
        <div class="d-grid gap-2 flex-shrink-1">
          <button type="submit" class="btn btn-outline-primary">Filtrar</button>
        </div>
      </div>

      <div class="pb-3 d-flex flex-row flex-wrap gap-2">
        <div class="d-flex flex-wrap">
          <label for="scholarship" class="form-label">Bolsa:</label>
          <select class="form-select" id="scholarship" name="scholarship">
            <option value="">Todos as bolsas</option>
            {% for scholarship in scholarships_list %}
              <option value="{{ scholarship.id }}">{{ scholarship.description }}</option>
            {% endfor %}
          </select>
        </div>

        {% comment %} <div class="d-flex flex-wrap">
          <label for="scholarship" class="form-label">Bolsa:</label>
          <select class="form-select" id="scholarship" name="scholarship">
            <option value="">Todos as bolsas</option>
            {% for scholarship in scholarships_list %}
              <option value="{{ scholarship.id }}">{{ scholarship.description }}</option>
            {% endfor %}
          </select>
        </div> {% endcomment %}
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Atvidade</th>
        <th scope="col">Data</th>
        <th scope="col">Horário</th>
        <th scope="col">Bolsa</th>
      </tr>
    </thead>
    <tbody>
      {% for record in object_list %}
        <tr>
          <td>{{ record.description }}</td>
          <td>{{ record.date|date:'d/m/Y' }}</td>
          <td>{{ record.start }}-{{ record.end }}</td>
          <td>{{ record.scholarship.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
