{% extends 'index.html' %}

{% load django_bootstrap5 %}
{% load humanize %}
{% load utils %}

{% block page_title %}
  <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
    <h2 class="flex-grow-1">
      {% block bootstrap5_title %}
        Registros de atividade
      {% endblock %}
    </h2>
    <div class="d-grid gap-2 flex-shrink-1">
      <a class="btn btn-primary" href="novo" role="button">Novo registro</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <form method="get" class="form border rounded-3 my-2 p-2">
    <div class="card-title d-flex flex-wrap justify-content-between align-items-center gap-2">
      <h5 class="">Filtros</h5>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-outline-primary">Filtrar</button>
      </div>
    </div>

    <div class="d-flex flex-row flex-wrap gap-2 flex-grow-1">
      <div>
        <label for="scholarship" class="form-label mb-1">Bolsa:</label>
        <select class="form-select" id="scholarship" name="scholarship">
          <option value="">Todos as bolsas</option>
          {% for scholarship in scholarships_list %}
            <option value="{{ scholarship.pk }}">{{ scholarship.description }}</option>
          {% endfor %}
        </select>
      </div>

      <div>
        <label for="date" class="form-label mb-1">Mês:</label>
        <input type="month" class="form-control" id="date" name="date" />
      </div>
    </div>
  </form>
  <div class="border rounded-3 my-2">
    <div class="d-flex m-2 align-items-center justify-content-between">
      <h3 class="w-auto">Atividades registradas</h3>
      <div class="d-flex gap-2 w-auto">
        <div class="total_hint px-2 py-1 border rounded-2 fs-6">
          <span>Tempo total:</span>
          <br />
          <strong>{{ total_hours|ellapsed_time }}</strong>
        </div>
        <div class="total_hint px-2 py-1 border rounded-2 fs-6">
          <span>Valor total:</span>
          <br />
          <strong>{{ total_value|currency }}</strong>
        </div>
      </div>
    </div>

    <table class="table table-striped caption-top">
      {% comment %} <caption>Lista de registros</caption> {% endcomment %}
      <thead>
        <tr>
          <th style="width: 70px;" scope="col">Data</th>
          <th scope="col">Atvidade</th>
          <th scope="col">Bolsa</th>
          <th scope="col">Horário</th>
          <th scope="col">Duração</th>
          <th scope="col">Valor</th>
          <th scope="col">Valor total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for record in object_list %}
          <tr>
            <td>{{ record.date|date:'d/m/Y' }}</td>
            <td>{{ record.description }}</td>
            <td>{{ record.scholarship.description }}</td>
            <td>{{ record.start }}-{{ record.end }}</td>
            <td>{{ record.ellapsed_time|ellapsed_time }}</td>
            <td>{{ record.scholarship.value|currency }}</td>
            <td>{{ record.total_value|currency }}</td>
            <td style="width: 0%">
              {% if record.can_delete %}
                <a class="badge rounded-pill text-bg-danger" href="{% url 'delete' pk=record.pk %}" style="text-decoration: none;"><span class="material-symbols-outlined">delete</span></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <style>
    .total_hint {
      min-width: 150px;
    }
  </style>
{% endblock %}
