{% extends './index.html' %}

{% load django_bootstrap5 %}

{% block page_title %}
  <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
    <h2 class="flex-grow-1">
      {% block bootstrap5_title %}
        Registros de atividade
      {% endblock %}
    </h2>
    <div class="d-grid gap-2 flex-shrink-1">
      <a class="btn btn-primary" href="novo" role="button">Novo registro</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Descrição</th>
        <th scope="col">Data</th>
        <th scope="col">Horário</th>
      </tr>
    </thead>
    <tbody>
      {% for record in object_list %}
        <tr>
          <td>{{ record.description }}</td>
          <td>{{ record.date|date }}</td>
          <td>{{ record.start }}-{{ record.end }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
