{% extends 'django_bootstrap5/bootstrap5.html' %}

{% load django_bootstrap5 %}

{% load static %}

{% block bootstrap5_extra_head %}
  <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
{% endblock %}

{% block bootstrap5_content %}
  <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand" href="#">Navbar</a>
    {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> {% endcomment %}

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'records_home' %}">Registros de Atividades <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new_report' %}">Emitir Relatório <span class="visually-hidden">(current)</span></a>
        </li>

        {% if user.scholar.coordinator.is_coordinator %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'scholars_list' %}">Bolsistas</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3 h-100">
          <div>
            <ul class="nav flex-column h-100 justify-content-start pb-4">
              <li class="nav-item">
                <a class="nav-link active d-flex align-items-center" href="{% url 'records_home' %}">
                  <span class="material-symbols-outlined">home</span>
                  Registros de Atividades
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active d-flex align-items-center" href="{% url 'new_report' %}">
                  <span class="material-symbols-outlined">description</span>
                  Emitir Relatório
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>

              {% if user.scholar.coordinator.is_coordinator %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'scholars_list' %}">
                    <span class="material-symbols-outlined">group</span>
                    Bolsistas
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
              {% endif %}
            </ul>

            <a href="{% url 'logout' %}" class="btn btn-outline-danger w-100">Sair</a>
          </div>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-md-4">
        {% block page_title %}

        {% endblock %}

        {% block content %}

        {% endblock %}
      </main>
    </div>
  </div>
{% endblock %}
